.flexContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

#body {
    /* background: #F5F5F5	; */
    background-image: url(./Imgs/rad_bg.jpg);
    position: relative;
    z-index: 2;
}

.titleCard {
    background-color:rgb(23,109,183, 0.9);
    border-radius:  10px;
}
  

.flexItemAboutMe {
    flex-basis: 45%;
    
}

.flexItemSkills {
    flex-basis: 50%;
}
  
.innerBodyCard {
    background-color: rgb(23,109,183,0.9);
    border-radius: 20px;
}

.calendlyCard {
    background-color: #1b222b;
    opacity: 1;
    border-radius: 5px;
}
  
.bodyTxt {
    color: white;
    font-size: 1.015em;
}

.flexTableCont {
    display: flex;
    justify-content: space-evenly;
    
}

.popUp {
    font-size: 30px;
    margin: 50px;
}

.popup-content {
    border-radius: 15px !important;
    border: 2px solid black;
}

.bodyRef {
  color: #ffffff;
  text-decoration: underline;
}

.modal {
  font-size: 12px;
  color: #1b222b;
  overflow: hidden;

}

.modal > .content {
  width: 100%;
  background-color: white;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px 5px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 25px;
  border: 1px solid #cfcece;
  z-index: 1;
}

.btn {
    background-color: #1b222b;
    margin-left: 1vw;
}


  /* BreakPoints */
  @media(max-width:768px) {
    .flexContainer {
      display: flex;
      background-color: #DCF0F7;
      justify-content: space-evenly;
      flex-flow: column wrap;
      
    }

   .flexItemAboutMe {
      margin-bottom: 3vh;
      flex-basis: 1;
      margin-right: 4vw !important;
      margin-left: 4vw;
      padding-right: 2vh !important;
      padding-left: 2vh !important;
    }

   .flexItemContactForm {
      margin-left: 4vw !important;
      margin-right: 4vw;
      padding-right: 2vh !important;
      padding-left: 2vh !important;
    }

   .bodyTxt {
      font-size: 2.5rem;
      text-align: start;
    } 

   .titleCard {
    margin-right: 5vw !important;
    margin-left: 5vw !important;
    padding-top: 1vh;
    padding-bottom: 1vh;
    }

   .bodyHeader {
      font-size: 3rem;
    }

   .tdResp {
      font-size: 2rem;
        }


/* OverWriting animations to avoid it on smaller screens */
   .grow {
    backface-visibility: visible !important;
    transform: translateZ(0) !important;
    transition: transform 0s!important;
    }

   .grow:hover,
   .grow:focus {
    transform: scale(1)!important;
    }

   .grow:active {
    transform: scale(0)!important;
    }

    .grow-large {
    -moz-osx-font-smoothing: grayscale;
     backface-visibility: visible !important;
     transform: translateZ(0)!important;
     transition: transform 0s !important;
    }

    .grow-large:hover, 
    .grow-large:focus {
    transform: scale(1)!important;
    }

    .grow-large:active {
    transform: scale(0) !important;
    }

}