  .flexContainer {
    display: flex;
    background-color: #DCF0F7;
    justify-content: space-evenly;
    /* align-items: center; */
  }

  .titleCard {
    background-color:rgb(30, 144, 255, 1);
    border-radius: 25px;
  }

  .flexItemAboutMe {
    flex-basis: 45%;
  }

  .flexItemContactForm {
    flex-basis: 45%;
  }
  
  .innerBodyLeft {
    background-color:rgb(30, 144, 255, 1); 
    border-radius: 25px;
  }
  
  .innerBodyRight {
    background-color:rgb(30, 144, 255, 1);
    border-radius: 25px;
  }
  
  .bodyTxt {
    color: white;
    text-align: justify;
    font-size: 1.015em;
  }


  


  /* .bodyGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4vw;
  } */
  

  /* .aboutMe {
    padding: 1vh;
    margin: 2.5vh;
  } */
  
  /* .contactForm {
    padding: 0.7vh;
    margin: 2.5vh;
  } */
  