html {font-size: 2vw;}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.example {
  -ms-overflow-style: none;
}

body {
    margin: auto 0;    
    font-family: Optima;
}

.mainHead {
    margin-top: 40vh;
    display: flex;
    justify-content: center;
    color: wheat;
    font-size: 3.7vw;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0; 
  left: 0;
  z-index: -1;
}

.center {
   display: flex;
   justify-content: center;
}

.mainHeadDiv {
  height: 60vh;
}

.scroll {
  display: flex;
  justify-content: center;
  margin-top: 35vh;
}