html {font-size: 2vw;}

body {
    margin: auto 0;    
}

.mainHead {
    margin-top: 40vh;
    display: flex;
    justify-content: center;
    color: wheat;
    font-size: 3.7vw;
    font-family: Optima;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0; 
  left: 0;
  z-index: -1;
}
