html {font-size: 2vw;}

body {
    margin: auto 0;    
    font-family: Optima;
}

.mainHead {
    margin-top: 40vh;
    display: flex;
    justify-content: center;
    color: wheat;
    font-size: 3.7vw;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0; 
  left: 0;
  z-index: -1;
}

.center {
   display: flex;
   justify-content: center;
}

.mainHeadDiv {
  height: 56vh;
}


.scroll {
  display: flex;
  justify-content: center;
  margin-top: 35vh;
}

.container {
  height: 100vh;
}

.bodyDiv {
  width: 100%;
  background-color: #F6FAFF;

}


.bodyTxt {
  margin-left: 3vw;
}

.bodyGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.h {
  padding-top: 5vh;
  text-align: center;
  margin-bottom: 3vh;
}

